<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
       <meta charset="utf-8">
       <title>Star Social</title> 

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

       <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'%}">

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" role='navigation' id='navbar'>
            <div class="container">
                <a class='navbar-brand mynav' href="{% url 'home' %}" style=color:#42a5f5>Star Social</a>
                
                <ul class='nav navbar-nav navbar-right' >
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="#" class="nav-link" style=color:#42a5f5>Post</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" style=color:#42a5f5>Groups</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" style=color:#42a5f5>Create Group</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link" style=color:#7ad7f0>Log Out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link"  href="#" style=color:#42a5f5>Groups</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}" style=color:#42a5f5>Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}" style=color:#42a5f5>Sign Up</a></li>
                    {% endif %}

                </ul>


            </div>
        </nav>
        <div class="container mycontent">

           {% block content %}


            {% endblock %}
        </div>
    </body>
</html>